.moldura {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_moldura {
  width: 1080px;
  height: 1080px;
  display: none;
}

.cls1 {
  letter-spacing: 0em;
}

.cls2 {
  font-size: 661px;
  letter-spacing: 0em;
}

.cls2, .cls3, .cls4 {
  fill: none;
}

.cls2, .cls5 {
  font-family: UnimedSansExtraBoldItalic, 'Unimed Sans';
}

.cls2, .cls5, .cls6, .cls7 {
  font-weight: 700;
}

.cls2, .cls5, .cls8 {
  font-style: italic;
}

.cls2, .cls4 {
  stroke: #08484c;
  stroke-miterlimit: 10;
}

.cls9 {
  letter-spacing: 0em;
}

.cls10 {
  letter-spacing: 0em;
}

.cls11 {
  letter-spacing: 0em;
}

.cls12 {
  fill: url(#linear-gradient-2);
}

.cls13 {
  letter-spacing: 0em;
}

.cls14, .cls8 {
  fill: #038a51;
}

.cls15 {
  fill: #adca4d;
}

.cls16 {
  letter-spacing: 0em;
}

.cls17 {
  letter-spacing: 0em;
}

.cls18, .cls6, .cls7 {
  fill: #fff;
}

.cls19 {
  letter-spacing: 0em;
}

.cls20 {
  letter-spacing: 0em;
}

.cls21 {
  letter-spacing: 0em;
}

.cls22 {
  letter-spacing: 0em;
}

.cls5 {
  font-size: 163.7px;
  letter-spacing: 0em;
}

.cls5, .cls23 {
  fill: #08484c;
}

.cls6 {
  font-family: UnimedSansBold, 'Unimed Sans';
  font-size: 31.4px;
}

.cls24 {
  letter-spacing: 0em;
}

.cls25 {
  letter-spacing: 0em;
}

.cls26 {
  letter-spacing: 0em;
}

.cls27 {
  letter-spacing: 0em;
}

.cls28 {
  letter-spacing: 0em;
}

.cls29 {
  letter-spacing: 0em;
}

.cls8 {
  font-family: UnimedSansBlackItalic, 'Unimed Sans';
  font-size: 51.3px;
  font-weight: 800;
}

.cls30 {
  letter-spacing: 0em;
}

.cls31 {
  letter-spacing: 0em;
}

.cls32 {
  letter-spacing: 0em;
}

.cls33 {
  letter-spacing: 0em;
}

.cls34 {
  letter-spacing: 0em;
}

.cls35 {
  letter-spacing: .8em;
}

.cls36 {
  letter-spacing: 0em;
}

.cls37 {
  fill: #078b52;
}

.cls38 {
  letter-spacing: 0em;
}

.cls39 {
  letter-spacing: .8em;
}

.cls40 {
  letter-spacing: .8em;
}

.cls41 {
  letter-spacing: 0em;
}

.cls23 {
  font-family: UnimedSansRegular, 'Unimed Sans';
  font-size: 33.5px;
}

.cls42 {
  letter-spacing: .1em;
}

.cls43 {
  fill: url(#linear-gradient);
}

.cls7 {
  font-family: UnimedSansExtraBold, 'Unimed Sans';
  font-size: 32.7px;
}

.image1{
  transform: translate(543, 478);
}



/* .cls_7,
.cls_8,
.cls_9 {
  fill: #fff;
  letter-spacing: 25px;
} */

/* .cls_25 tspan {
  font-size: 2.5rem;
}

@media (maxwidth:500px) {
  .cls_25 tspan {
    font-size: 2.2rem;
  }
} */

